:root {
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;

	--text-1: #90e7f7;
	--text-2: #666;

	--bg-1: #27343a;
	--bg-2: #9ea5a8;
	--bg-3: #750615;
	--bg-4: #222629;
}

body {
	color: var(--text-1);
	background-color: var(--bg-1);
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--bg-1);
}

body::-webkit-scrollbar-thumb {
	background: var(--bg-2);
}

main {
	margin-left: 5rem;
	padding: 1rem;
}
